@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../img/bg-img.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
    margin-top: 20px;
}

h2 {
    margin-bottom: 20px;
    color: white;
}

form#multiplication-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    background-color: white;
    width: 300px;
    padding: 20px 1rem;
    border-radius: 1rem;
    margin: 20px auto;
    backdrop-filter: blur(50%);
}

div.form-control {
    width: 100px;
}


input, label {
    display: block;
}

label {
    font-size: 15px;
    padding-bottom: 0.6rem;
    font-weight: bold;
}

div.form-control input {
    width: 100px;
    margin-top: 7px;
    padding: 0.6rem 0.4rem;
    text-align: center;
    font-size: 17px;
    border-radius: 5px;
    border: 1px solid #333;
}

input[type="submit"] {
    display: block;
    margin: 10px auto;
    background-color: black;
    color: white;
    width: 86.5%;
    max-height: 50px;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

input[type="submit"]:hover {
opacity: 0.9;
}

div#mutiplication-table h2 {
    text-align: center;
    margin-bottom: 10px;
    color: white;
}

div#multiplication-operations {
    width: 300px;
    background-color: white;
    border-radius: 1rem;
    margin: 0 auto;
}

div#result p {
    font-size: 15px;
}

div#multiplication-operations {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    margin: 1rem auto;
    padding: 2rem 1rem;
    background-color: white;
    color: #333;
    border-radius: 1rem;
}

div#multiplication-operations div.row {
    display: flex;
    justify-content: center;
    background-color: white;
    border: 1px solid #ccc;
    border-bottom: none;
    padding: 0.5rem;
    width: 150px;
}

div#multiplication-operations div.row:last-child {
    border-bottom: 1px solid #ccc;
}

/* div#multiplication-operations span.result {
    margin-left: 0.4rem;
} */